# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -v

# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename "$HOME/.zshrc"

autoload -Uz compinit
compinit
# End of lines added by compinstall

source '/usr/share/zsh-antidote/antidote.zsh'
antidote load
autoload -Uz promptinit && promptinit && prompt powerlevel10k

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

export EDITOR=nvim

[[ -f $HOME/arch.sh ]] && source $HOME/arch.sh
[[ -f $HOME/git.sh ]] && source $HOME/git.sh 

# fnm
fnm_path=$HOME/.local/share/fnm
if [[ -d $fnm_path ]]; then
	export PATH="$PATH:$fnm_path"
	eval "$(fnm env)"
	
	# To change node version on cd
	# eval "$(fnm env --use-on-cd)" > /dev/null 2>&1
fi

# local bin
local_bin_path=$HOME/.local/bin
[[ -d $local_bin_path ]] && export PATH="$PATH:$local_bin_path"

# go
go_bin_path=$HOME/go/bin
[[ -d $go_bin_path ]] && export PATH="$PATH:$go_bin_path"

# rust
rust_path=$HOME/.cargo 
rust_binary_path=$rust_path/bin
rust_env_path=$rust_binary_path/env
[[ -f $rust_env_path ]] && source $rust_env_path
[[ -f $rust_binary_path ]] && source $rust_binary_path

{{- if eq .environment.is_work_machine true }}
# Work specific
[[ -f $HOME/Lawsnote.sh ]] && source $HOME/Lawsnote.sh
{{- end }}

# hack to stop zsh-autosuggestion errors
unset ZSH_AUTOSUGGEST_USE_ASYNC
