[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
	diffFilter = diff-so-fancy --patch
[column]
	ui = never
[user]
{{- if eq .environment.is_work_machine true }}
	name = Free
	email = free@lawsnote.com
{{- else }}
	name = imfulee
	email = freems5192@gmail.com
{{- end }}
